.tabla
{
	display: table;
	width: 100%;
}

.tabla_centrada
{
	display: inline-table;
}

.tabla_bloque
{
	display: inline-block;
}

.alto_120
{
	height: 120px;
}

.fila
{
	display: table-row;
}

.celda
{
	display: table-cell;
	margin-top: 5px;
	text-align: right;
}

.conexion_establecida
{
	text-align: left;
	color: #626262;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
}

.titulo_tabla
{
	display: table-cell;
	margin-top: 5px;
	text-align: center;
}

.vertical_centro
{
	vertical-align: middle;
}

.vertical_arriba
{
	vertical-align: top;
}

.centrado
{
	text-align: center;
}

.alto_30
{
	height: 30px;
}

.ancho_50
{
	width: 50px;
}

.ancho_100
{
	width: 100px;
}

.ancho_130
{
	width: 130px;
}

.ancho_150
{
	width: 150px;
}

.alineacion_centrado 
{
	margin:0 auto;
}

.etiqueta
{
	font-size: 		15px;
	font-family: 	Arial,Helvetica,sans-serif;
	color: 			#2a7bb3;
	padding: 		0 5px 10px 0;vertical-align:middle;
}

fieldset
{
	border: 1px solid #d2bfb6;
}

legend
{
	color: 			#626262;
	font-family:	Arial,Helvetica,sans-serif;
	font-size: 		14px;
}
