body
{
	background: 				url("../imagenes/psdg.png");
	background-repeat:	no-repeat;
	margin-left: 				0px;
}

#div_cuerpo
{
	margin-top: 165px;
	width: 			1024px;
	/*border:		 	solid 1px #d2bfb6;*/
}

#div_sesion
{
	width: 						300px;
	text-align: 			center;
	margin: 					0 auto;
	/*background-color: #fff;*/
}

#div_conexiones
{
	width: 						400px;
	text-align: 			center;
	margin: 					0 auto;
	/*background-color: #fff;*/
}

#barra_de_estado
{
	width: 				1024px;
	height: 			20px;
	position: 		fixed;
	bottom: 			0px;
	background: 	#0089ce;
	color:				#fff;
	font-family:	Arial,Helvetica,sans-serif;
	font-size: 		14px;
	display: 			table;
}

#lbl_status
{
	display: 				table-cell; 
	vertical-align: middle;
}

#lbl_loading
{
	display: 				table-cell; 
	vertical-align: middle;
	text-align: 		center;
	width:					50px;
}

.error
{
	text-decoration: 	blink;
}
