.tabla
{
	display: table;
	width: 100%;
}

.tabla_centrada
{
	display: inline-table;
}

.tabla_bloque
{
	display: inline-block;
}

.fila
{
	display: table-row;
}

.celda
{
	display: table-cell;
	margin-top: 5px;
}

.conexion_establecida
{
	text-align: left;
	color: #626262;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
}

.titulo_tabla
{
	display: table-cell;
	margin-top: 5px;
	text-align: center;
}

.etiqueta
{
	font-size: 		15px;
	font-family: 	Arial,Helvetica,sans-serif;
	color: 			#2a7bb3;
	margin: 0px 10px 0px 0px;
	vertical-align:middle;
}

.valor_campo
{
	font-size: 14px;
	font-family: Arial,Helvetica,sans-serif;
}

.color_letra_campo
{
	color: #404040;
}

legend
{
	color: 			#626262;
	font-family:	Arial,Helvetica,sans-serif;
	font-size: 		14px;
}
