/*
 This file is part of PSDG.

    PSDG is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Foobar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.

*/

.tabla
{
	display: table;
	width: 100%;
}

.tabla_centrada
{
	display: inline-table;
}

.tabla_bloque
{
	display: inline-block;
}

.fila
{
	display: table-row;
}

.celda
{
	display: table-cell;
	margin-top: 5px;
}

.conexion_establecida
{
	text-align: left;
	color: #626262;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
}

.titulo_tabla
{
	display: table-cell;
	margin-top: 5px;
	text-align: center;
}

.etiqueta
{
	font-size: 		15px;
	font-family: 	Arial,Helvetica,sans-serif;
	color: 			#2a7bb3;
	margin: 0px 10px 0px 0px;
	vertical-align:middle;
}

.etiqueta_cursiva
{
	font-size: 		15px;
	font-family: 	Arial,Helvetica,sans-serif;
	font-style:		italic;
	color: 			#626262;
	margin: 0px 10px 0px 0px;
	vertical-align:middle;
}

.etiqueta_error
{
	font-size: 		12px;
	font-family: 	Arial,Helvetica,sans-serif;
	color: 			#ff6262;
	margin: 0px 10px 0px 0px;
	vertical-align:middle;
}

.valor_campo
{
	font-size: 14px;
	font-family: Arial,Helvetica,sans-serif;
}

.color_letra_campo
{
	color: #404040;
}

legend
{
	color: 			#626262;
	font-family:	Arial,Helvetica,sans-serif;
	font-size: 		14px;
}
