/*
 This file is part of PSDG.

    PSDG is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Foobar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.

*/

.error
{
	text-decoration: 	blink;
}

#div_logo 
{
	background: url("../imagenes/psdg.png");
	height: 151px;
	width: 1024px;
}

body
{
	background: url("../imagenes/backgroundTitle.png");
	background-repeat: repeat-x;
	margin: 0 auto;
}

#div_cuerpo
{
	margin: 0 auto;
	width: 1024px;
	padding-bottom: 30px;
}

#div_secuencia
{
	text-align: center;
	margin: 0 auto;
	width: 1024px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

#div_sesion
{
	text-align: center;
	margin: 0 auto;
	width: 250px;
}

.div_help
{
	position: absolute;
	right: 4px;
	top: 9px;
}

#div_logout
{
	position: absolute;
	right: 4px;
	top: 9px;
}

#con_div_general
{
	text-align: center;
	margin: 0 auto;
}

.alto_30
{height: 30px;}

.alto_40
{height: 40px;}

.alto_120
{height: 120px;}

.alto_200
{height: 400px;}

.ancho_20
{width: 20px;}

.ancho_35
{width: 35px;}

.ancho_50
{width: 50px;}

.ancho_50p
{width: 50%;}

.ancho_70
{width: 70px;}

.ancho_100
{width: 100px;}

.ancho_130
{width: 130px;}

.ancho_140
{width: 140px;}

.ancho_150
{width: 150px;}

.ancho_200
{width: 200px;}

.ancho_256
{width: 256px;}

.ancho_280
{width: 280px;}

.ancho_400
{width: 400px;}

.ancho_512
{width: 512px;}

.ancho_624
{width: 624px;}

.ancho_1024
{width: 1024px;}

.oculto
{display: none;}

.vertical_centro
{vertical-align: middle;}

.vertical_arriba
{vertical-align: top;}

.centrado
{text-align: center;}

.alineacion_centrado 
{margin:0 auto;}

.alineacion_derecha
{text-align: right;}

.alineacion_izquierda
{text-align: left;}

.margin_izquierdo_15
{margin-left: 15px;}

.margin_arriba_10
{margin-top: 10px;}

.borde_inferior
{border-bottom: solid 1px #d2bfb6;}

fieldset
{border: 1px solid #d2bfb6;}

#con_div_conexion
{
	width: 400px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

#con_div_conexiones
{
	width: 400px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

#res_div_general
{
	text-align: center;
	margin: 0 auto;
}

#res_div_estructura_bd
{
	width: 350px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

#res_div_detalle_externo
{
	width: 450px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

#sal_div_general
{
	text-align: center;
	margin: 0 auto;
}

#sal_div_tipos
{
	width: 450px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

#eje_div_general
{
	text-align: center;
	margin: 0 auto;
}

#eje_div_consola
{
	width: 600px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

.div_botones_secuencia
{
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

#barra_de_estado
{
	width: 100%;
	height: 20px;
	position: fixed;
	bottom: 0px;
	background: #0089ce;
	color: #fff;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	display: table; 
}

#lbl_status
{
	display: table-cell; 
	vertical-align: middle;
}

#lbl_loading
{
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	width: 50px;
}

#div_ayuda
{
	padding: 10px;
	width: 300px;
	height: 190px;
	position: fixed;
	bottom: 0px;
	background: #0089ce;
	right: 0px;
}

#div_mensaje
{
	color: #fff;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	margin-top: 5px;
	position: absolute;
}

.titulo
{
	color: #fff;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	display: block;
	width: 270px;
	border-bottom: solid 1px #d2bfb6;
}

#boton_cerrar
{
	color: #0089ce;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 15px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 25px;
	height: 25px;
}

.texto_arbol
{ 
	float:left; 
	margin:0;
	font-family:Verdana; 
	font-size:12px;
}

#div_log
{
	
	text-align: left;
	overflow:auto;
	font-family: Arial,Helvetica,sans-serif;
}
