.error
{
	text-decoration: 	blink;
}

#div_logo 
{
	background: url("../imagenes/psdg.png");
	height: 151px;
	width: 1024px;
}

body
{
	background: url("../imagenes/backgroundTitle.png");
	background-repeat: repeat-x;
	margin: 0 auto;
}

#div_cuerpo
{
	margin: 0 auto;
	width: 1024px;
	/*border: 1px solid #f0f0f0;*/
}

#div_secuencia
{
	text-align: center;
	margin: 0 auto;
	width: 800px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#div_sesion
{
	text-align: center;
	margin: 0 auto;
	width: 250px;
}

.div_help
{
	position: absolute;
	right: 5px;
	top: 11px;
}

#div_conexion
{
	width: 380px;
	text-align: center;
	margin: 0 auto;
	position: relative;/*PROBANDO...*/
}

#div_general_conexiones
{
	width: 900px;
	text-align: center;
	margin: 0 auto;
}

#div_conexiones
{
	width: 380px;
	text-align: center;
	margin: 0 auto;
}

#barra_de_estado
{
	width: 100%;
	height: 20px;
	position: fixed;
	bottom: 0px;
	background: #0089ce;
	color: #fff;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	display: table; 
}

#lbl_status
{
	display: table-cell; 
	vertical-align: middle;
}

#lbl_loading
{
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	width: 50px;
}
